:root{
    --white: #ffffff;
    --white-active: #efefef;
    --dark-gray: #9f9f9f;
    --dark-gray-active: #8f8f8f;
    --gray: #cfcfcf;
    --gray-active: #bfbfbf;
    --sky-blue: #5fcfff;
    --sky-blue-active: #4fbfdf;
    --blue: #3fafff;
    --blue-active: #2f9fdf;
    --green: #5fdf8f;
    --green-active: #4fbf7f;
    --yellow: #f7e757;
    --yellow-active: #e7d747;
    --orange: #ff8f00;
    --orange-active: #df7f00;
    --dark-orange: #ff4f00;
    --dark-orange-active: #df3f00;
    --red: #df0f0f;
    --red-active: #cf0000;
    --dark-red: #af0000;
    --dark-red-active: #8f0000;
    --purple: #7f007f;
    --purple-active: #6f006f;

    --tsunami-gray: #dfdfdf;
    --tsunami-yellow: #ffff00;
    --tsunami-red: #ff0000;
    --tsunami-purple: #ff00ff;

    --swave-gray: #b7b7b7;
    --swave-blue: #1f8fff;
    --swave-green: #4ff77f;
    --swave-yellow: #ffff1f;
    --swave-orange: #ffa500;
    --swave-red: #ff0000;
    --swave-purple: #af00af;
}
.white{
    background-color: var(--white);
    color: #000000;
}
.white:active{
    background-color: var(--white-active);
}
.dark-gray{
    background-color: var(--dark-gray);
    color: #000000;
}
.dark-gray:active{
    background-color: var(--dark-gray-active);
}
.gray{
    background-color: var(--gray);
    color: #000000;
}
.gray:active{
    background-color: var(--gray-active);
}
.sky-blue{
    background-color: var(--sky-blue);
    color: #000000;
}
.sky-blue:active{
    background-color: var(--sky-blue-active);
}
.blue{
    background-color: var(--blue);
    color: #000000;
}
.blue:active{
    background-color: var(--blue-active);
}
.green{
    background-color: var(--green);
    color: #000000;
}
.green:active{
    background-color: var(--green-active);
}
.yellow{
    background-color: var(--yellow);
    color: #000000;
}
.yellow:active{
    background-color: var(--yellow-active);
}
.orange{
    background-color: var(--orange);
    color: #000000;
}
.orange:active{
    background-color: var(--orange-active);
}
.dark-orange{
    background-color: var(--dark-orange);
    color: #ffffff;
}
.dark-orange:active{
    background-color: var(--dark-orange-active);
}
.red{
    background-color: var(--red);
    color: #ffffff;
}
.red:active{
    background-color: var(--red-active);
}
.dark-red{
    background-color: var(--dark-red);
    color: #ffffff;
}
.dark-red:active{
    background-color: var(--dark-red-active);
}
.purple{
    background-color: var(--purple);
    color: #ffffff;
}
.purple:active{
    background-color: var(--purple-active);
}
