@font-face {
  font-family: 'HMOS Sans';
  src: url('./fonts/HarmonyOS_Sans_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HMOS Sans SC';
  src: url('./fonts/HarmonyOS_SansSC_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HMOS Sans TC';
  src: url('./fonts/HarmonyOS_SansTC_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #fff;
  font-family: 'HMOS Sans', 'HMOS Sans SC', 'HMOS Sans TC', Arial, Helvetica, sans-serif;
}

.leaflet-wave-pane path,
.leaflet-waveFill-pane path,
.leaflet-terminator-pane path,
.leaflet-terminatorFill-pane path {
  mix-blend-mode: multiply;
}

path.leaflet-interactive:focus {
  outline: none;
}

.custom-tooltip {
  text-align: center;
}

.el-message-box__message {
  white-space: pre-line;
}

/* 滚动条 */
* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
